{% extends 'base.html' %} {% block head%}
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %} {% block body %}
<ul>
  <li>
    <h1 style="text-transform: capitalize; padding: 10px;font-size:25px">Welcome, {{uname[0][0]}}</h1>
  </li>
  <li style="float:right">
    <a href="{{url_for('login')}}">Logout</a>
  </li>
  <li style="float:right">
    <a href="{{url_for('login')}}">Delete Records</a>

  </li>
</ul>
<div class="table-cont">
  <table>
    <tr>
      <th style="width: 5%">S No</th>
      <th>Category</th>
      <th>Sub category</th>
      <th>Source</th>
      <th>Method</th>
      <th>Cycle</th>
      <th>Payee</th>
      <th>Amount</th>
      <th>Due</th>
      <th>Payed Date</th>
      <th style="width: 5%">Action</th>
    </tr>
    {%for x in range(e_id|length)%}
    <tr>
      <td>
        {{x+1}}
      </td>
      <td>
       {{category[data[i[x]][2]][1]}}
      </td>
      {%set y = sub_category[i[x]][2]%}
      <td>
        {{y}}
      </td>
      <td>
        {{source[ch_src[x][0]-1][1]}}
      </td>
      <td style="text-transform:capitalize">
        {{pay_type[payt[x][0]-1][1]}}
      </td>
      <!-- <td style="text-transform: capitalize">{{source[ch_src[x][0]-1][1]}}</td> -->
      <td style="text-transform: capitalize">{{cyc[cyct[x][0]-1][1]}}</td>
      <td style="text-transform: capitalize">{{data[i[x]][8]}}</td>
      <td>₹{{data[i[x]][7]}}</td>
      <td>{{data[i[x]][9]}}</td>
      <td>{{data[i[x]][10]}}</td>
      <td>
        <button>
          View <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </button>
      </td>
      <td style="text-align: center">
        <button><i class="fa-solid fa-trash-can" style="color: black; padding: 5px"></i></button>
      </td>
    </tr>
    {%endfor%}
  </table>
<button id="myBtn" style="margin-top: 10px"><i class="fa-solid fa-circle-info" id="myBtn"></i></button>


  <div class="btns">
    <form action="{{url_for('add_ent')}}" method="POST">
      </a>

      <!-- Modal content -->
      <div class="add-ent">
        <div>
          <div class="optn">
            <label for="category">Category - </label>
            <select name="category" id="category" required>
              {%set c = 0%} {% for j in category%}
              <option value="{{j[0]-1}}">{{j[1]}}</option>
              {%set c = j%} {%endfor%}
            </select>
          </div>
          <div class="optn">
            <label for="sub-category"> Sub Category - </label>
            <input style="display: none;" type="text" name="uuid" id="uuid" value="{{data[0][1]}}"/>
            <input type="number" name="sub_category" id="sub_category" min="1" max="34"required />
            
          </div>
          <div class="optn">
            <label for="cycle">Cycle - </label>
            <select name="cycle" id="cycle" style="text-transform: capitalize" required>
              {% for i in cyc%}
              <option value="{{i[0]-1}}">{{i[1]}}</option>
              {%endfor%}
            </select>
          </div>
          <div class="optn">
            <label for="method">Method of Payment - </label>
            <select name="method" id="method" style="text-transform: capitalize" required>
              {% for i in pay_type%}
              <option value="{{i[0]-1}}">{{i[1]}}</option>
              {%endfor%}
            </select>
          </div>
          <div class="optn">
            <label for="inc_src">Source of Income - </label>
            <select name="inc_src" id="inc_src" style="text-transform: capitalize" required>
              {% for i in source%}
              <option value="{{i[0]}}">{{i[1]}}</option>
              {%endfor%}
            </select>
          </div>
          <!-- <div class="optn">
            <label for="inc_src">Source of Income- </label>
            <select name="inc_src" id="inc_src" style="text-transform: capitalize">
              {% for i in source%}
              <option value="{{i[0]}}">{{i[0]}}</option>
              {%endfor%}
            </select>
          </div> -->
          <div class="optn">
            <p>Payee -</p>
            <input type="text" name="payee" id="payee" placeholder="BSNL, Shell, ACT, etc." required/>
          </div>
          <div class="optn">
            <p>Amount -</p>
            <input type="text" name="amount" id="amount" placeholder="10000" required/>
          </div>
          <!-- <div class="optn">
            <p>Due -</p>
            <input type="date" id="due" name="due" />
          </div> -->
          <div class="optn">
            <label for="image">Reciept - </label>
            <input type="file" id="image" name="image" accept="image/*" required/>
          </div>
        </div>
        <button type="submit">Add</button>
    </form>


  </div>
  <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
      <span class="close">&times;</span>
      <div style="overflow-y: scroll; height: 500px">
        <table style="padding: 20px">
          <tr>
            <th style="width: 1%">Id</th>
            <th style="width: 10%">Category</th>
            <th>Sub Category</th>
          </tr>
          {% for k in sub_category%}
          <tr>
            <td>{{k[0]}}</td>
            <td>{{category[k[1]-1][1]}}</td>
            <td>{{k[2]}}</td>
          </tr>
          {%endfor%}
        </table>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</div>
{%endblock %}
</div>