{% extends 'base.html' %} {% block head%}
<title>Login Page</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock %} {% block body %}
<div class="center">
  <form action="{{url_for('register')}}" method="post" class="container">
    <h1 style="margin: 40px; font-size: 50px">Register</h1>
    <input type="text" name="uname" placeholder="User Name" />
    <input type="password" name="passwd" placeholder="Password" />
    <input type="submit" value="Register" class="submit" />
    <a href="{{url_for('login')}}">Login</a>
  </form>
</div>
{%endblock %}
