a {
    text-decoration: none;
    margin: 10px;
}


table {
    font-family: 'Catrograph CF';
    border-collapse: collapse;
    width: 100%;
    border: none;
}

td,
th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(128, 0, 0, 0.2);
    border-radius: 10px;
}

.table-cont {
    margin: 30px
}

.btns {
    margin: 20px;
}

button, .btn-top {
    font-size: 14px;
    background-color: lightcoral;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

button,.btn-top:hover {
    font-size: 14px;
    background-color: coral;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.optn {
    margin: 20px;
}

.add_entry {
    visibility: visible;
}

select, input {
    background-color: white;
    border: solid #000;
    border-width: 0.5px;
    padding: 5px;
    border-radius: 5px;
}